*{
    margin: 0;
    padding: 0;
    box-shadow: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    text-decoration: none;
}
:root{
    --main-color: #000;
    --bachground-color: #fff
}
section{
    margin:0 390px;
    height: 100vh;;
}
.header{
    width: 100%;
    height: 150px;
}
.nav{
    margin: 0 390px;
    padding-top: 20px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo{
    display: flex;
    align-items: center;
    gap: 40px;
}
.logo_img{
    width: 80px;
    height:80px;
}

.regorlog{
    display: flex;
    align-items: center;
    gap: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-left: 100px;
    font-size:18px;
}
.nav_link_registr{
    color:  var(--bachground-color);
    font-size:18px;
    background: var(--main-color);
    padding: 10px;
    border-radius: 50px;
    transition:1s ease;
    border: 1px solid transparent;
}
.nav_link_registr:hover{
    color:  var(--main-color);
    background: var(--bachground-color);
    border: 1px solid var(--main-color);
}
.nav_link{
    border-bottom: 3px solid transparent;
    transition: 1s ease;
    border-radius: 2px;
}
.nav_link:hover{
    border-bottom: 3px solid var(--main-color);
}
.logotype_h1{
    text-align: center;
    font-size: 40px;
    font-weight: 900;
}
.search_box{
    padding: 10px;
    border-radius: 50px;
    width: 200px;
    font-size: 18px;
}
.content{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.content_p{
    text-align: center;
    max-width: 500px;
    font-size: 18px;
}
.button{
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.link_click{
    text-align: center;
    background: var(--main-color);
    width: 200px;
    margin-top: 20px;
    color: var(--bachground-color);
    border: 1px solid var(--main-color);
    padding: 10px;
    font-size: 18px;display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: 1s ease;
}
.icon{
    width: 30px;
    height: 30px;
}
.link_img{
    width:40px;
    height: 40px;   
}
.container_img{
    width: 1140px;
    display: flex;
    justify-content: center;
}
.img_main{
    width:600px;
    height: 600px;
}
.kr{
    
    margin-top: 100px ;
}
.select{
    width: 150px;
    margin-top:  20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px;
    color: rgba(0, 0, 0, 0.5);
}
.select{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 900;
}
.select_kr{
    padding: 10px;
    font-size: 18px;
    border-radius: 50px;
}
.date{
    appearance: none;
    text-align: center;
    width: 50px;
}
.form{
    margin-top: 20px;
}
.check{
    margin-top: 40px;
}
.r{
    margin-top: 10px;
}
.card{
    max-width: 1140px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.card_content_img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
}
.card_content{
    display: flex;
    width: 500px;
    gap: 30px;
    padding: 20px;
}
.card_item{
    max-width: 600px;
    border: 1px solid var(--main-color);
    border-radius: 20px ;
}
.card_content_text{
    display: flex;
    justify-content: space-between;
}
.card_content_text_cost{
    background: rgba(0, 0, 0, 0.2);
    border-radius: 50px;
    padding: 10px;
    margin-top: 50px ;
    font-size: 24px;
    font-weight: 900;
}
.buylink{display: flex;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    background: var(--main-color);
    color: var(--bachground-color);
    border-radius: 50px;
    border: 1px solid transparent;
    transition: .7s ease;
}
.buylink:hover{
    background: var(--bachground-color);
    color: var(--main-color);
    border: 1px solid var(--main-color);
}
.footer{
    width: 1140px;
}
.footer_info{
    margin-top: 100px;
    padding-bottom: 40px;
    width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.footer_text{
    padding: 10px;
    font-size: 18px;
    display: grid;
}
.number{
    padding: 10px;
    display: grid;
}
.gmail{
    padding: 10px;
    display: grid;
}
.footer{
    height: 100px;
}
.logotype_h3{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}
.buy_input{
    width: 300px;
}
.card_buy{
    width: 1140px;
}
.card_item_buy{
    width: 1140px;
    height: 150px;
    margin-top: 40px;
}
.card_item_buy_content_t{
    display: flex;
    align-items: center;
    gap: 30px;
}
.card_item_buy_content_info{
    max-width: 300px;
    margin-left:20px ;
}
.card_item_buy_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card_item_buy_img{
    background: url(../img/play1.png);
    width: 300px;
    height: 150px;
    border-radius: 10px;
    background-size: cover;
}
.card_item_buy_img:hover{
    animation: slider 10s ease-out infinite;
}
@keyframes slider {
    0% {
        background: url(../img/play2.jpg);
        background-size: cover;
    }
    50% {
        background: url(../img/play3.jpg);
        background-size: cover;
    }
    75% {
        background: url(../img/play4.jpg);
        background-size: cover;
    }
    100% {
        background: url(../img/play1.png);
        background-size: cover;
    }
}
.card_item_buy_content_link{
    background: var(--main-color);
    border-radius: 50px;
    padding: 10px;
    color: var(--bachground-color);
    width: 100px;
    text-align: center;
}
.card_content_text_genre_p{
    max-width: 200px;
}
.input_search{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    align-items: center;
}
.form{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.form_input{
    background: transparent;
    padding: 10px;
    border-radius: 50px;
    width: 200px;
}
.social_work{
    border: 1px solid var(--main-color);
    border-radius: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link_help{
    text-decoration: none;
    transition: 1s ease;
}
.link_help:hover{
    text-decoration: underline;
}
.btn{
    border-radius: 50px;
    padding: 10px;
    background: transparent;
}
.img_profile_i{
    width: 100px;
    height: 100px;
    border: 1px solid var(--main-color);
    border-radius: 50%;
}
.form_profil_cont{
    display: flex;
    gap: 40px;
}
.name_user_p{
    font-size: 18px;
    padding: 5px;
}
.email_profile{
    font-size: 18px;
    padding: 10px;
}
.bilet{
    width: 1140px;
    margin-top: 100px;
}
.bilet_h2{
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid var(--main-color);
}