*{
    text-decoration: none;
    color: #fff;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background: #111;
    height: 100%;
}
.header{
    position: relative;
    padding: 30px;
    font-size: 28px;
}
.header_p{
    padding-left: 30px;
    margin-bottom: 10px;
}
.input_plan{
    margin-left: 30px;
    padding: 10px;
    background: transparent;
    border-radius: 15px;
    margin-bottom: 10px;
}
.interface{
    display:grid;
    max-width: 175px;
    padding-left: 30px;
    gap: 5px;
    margin-bottom: 30px;
}
.button{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #111;
    color: #111;
    transition: .5s ease;
}
.button:hover{
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
}
.plans_p{
    padding-left: 30px;
    
    margin-bottom: 5px;
}